

{% extends 'template.html.twig' %}

{% block pageName %}
<title>Statistiques</title>
{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1 class="mb-4">les Statistiques</h1>
        
        <!-- Statistiques des actifs -->
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="background: linear-gradient(to right, #4e73df, #1e3c72); color: white;">
                    <div class="card-body">
                        <h4 class="card-title">Actifs Fonctionnels</h4>
                        <p>{{ active_assets }} actifs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background: linear-gradient(to right, #56c3d2, #2196f3); color: white;">
                    <div class="card-body">
                        <h4 class="card-title">Actifs en Panne</h4>
                        <p>{{ faulty_assets }} actifs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background: linear-gradient(to right, #3f97c2, #2c587a); color: white;">
                    <div class="card-body">
                        <h4 class="card-title">Actifs Remplacés</h4>
                        <p>{{ replaced_assets }} actifs</p>
                    </div>
                </div>
            </div>
        </div>

        
        

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('assetsChart').getContext('2d');
        const assetsChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Actifs Fonctionnels', 'Actifs en Panne', 'Actifs Remplacés'],
                datasets: [{
                    label: 'Répartition des Actifs',
                    //data: [{{ active_assets }}, {{ faulty_assets }}, {{ replaced_assets }}],
                    backgroundColor: [
                        'rgba(78, 115, 223, 0.7)',   // Bleu foncé (dégradé)
                        'rgba(86, 195, 210, 0.7)',   // Bleu turquoise
                        'rgba(63, 151, 194, 0.7)'    // Bleu acier
                    ],
                    borderColor: [
                        'rgba(78, 115, 223, 1)',  // Bleu foncé
                        'rgba(86, 195, 210, 1)',  // Bleu turquoise
                        'rgba(63, 151, 194, 1)'   // Bleu acier
                    ],
                    borderWidth: 1
                }]
            }
        });
    </script>
{% endblock %}
