<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% block pageName %}
        <title>page name</title>
    {% endblock %}
    
    <!-- Custom fonts -->
    <link href="{{ asset('assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    
    <!-- Custom styles & Bootstrap -->
    <link href="{{ asset('assets/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('node_modules/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>



<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon">
                        <img src="{{ asset('assets/img/logo_bt_xs.png') }}" alt="Logo" style="width: 40px; height: 40px;">
                    </div>
                    <div class="sidebar-brand-text mx-3">Gestion des actifs</div>
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <hr class="sidebar-divider my-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard') }}">
                           <i class="fas fa-chart-bar"></i><span>Statistiques</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('all_actif') }}">
                            <i class="fas fa-table"></i><span>Liste des actifs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('actif_import') }}">
                            <i class="fas fa-file-import"></i> <span>Importer depuis Excel</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">Interface</div>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
                            <span>Admin</span>
                        </a>
                        <div id="collapseAdmin" class="collapse" aria-labelledby="headingAdmin" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Gestion des actifs:</h6>
                                <a class="collapse-item" href="{{ path('add_actif') }}">Ajouter un actif</a>
                                <a class="collapse-item" href="{{ path('sort_actif', {'criteria': 'type'}) }}">Trier les actifs</a>
                                <a class="collapse-item" href="{{ path('actif_filter', {'etat': 'fonctionnel'}) }}">Filtrer les actifs</a>
                            </div>
                        </div>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_TECH') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('search_actif') }}">
                            <span>Liste des actifs</span>
                            
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">Interface</div>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTech" aria-expanded="true" aria-controls="collapseTech">
                            <span>Technicien</span>
                        </a>
                        <div id="collapseTech" class="collapse" aria-labelledby="headingTech" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Gestion des actifs:</h6>
                                <a class="collapse-item" href="{{ path('actif_sort', {'criteria': 'type'}) }}">Trier les actifs</a>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% block username %}{{ app.user.nom }} {{ app.user.prenom }}{% endblock %}</span>
                                    <img class="img-profile rounded-circle" src="{{ asset('assets/img/undraw_profile.svg') }}">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
               
                
                <div class="container-fluid">
                    {% block title %}{% endblock %}
                    {% block body %}body block{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap & jQuery Scripts -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('node_modules/select2/dist/js/select2.min.js') }}"></script>
</body>

</html>